<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %> Contact: <%= @restaurant.phone_number %></h3>
<p>Type of cuisine: <%= @restaurant.category %></p>

<%= link_to 'Back to restaurants', restaurants_path %>

<%= link_to 'Leave a new review', new_restaurant_review_path(@restaurant) %>

<h3>Reviews for <%= @restaurant.name %></h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= "â­" * review.rating %> <br>
    <%= review.content %>
    </li>
  <% end %>
</ul>
