<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %> Contact: <%= @restaurant.phone_number %></h3>
<p>Type of cuisine: <%= @restaurant.category %></p>

<%= link_to 'Back to restaurants', restaurants_path %>
